body
{
   background-color: #3366CC;
}

.header
{
   background-color: #B9CAEC;
   border-bottom-style: solid;
   border-bottom-color: black;
   border-bottom-width: 1px;
}

.gwtThesis-uiOverview 
{
   background-color: #3366CC;
}

.gwtThesis-Grid
{
   border-color: #6666CC; 
   text-align: left;

}

.gwtThesis-GridCenter
{
   border-color: #6666CC;
   text-align: center;

}

.gwtThesis-DialogBox 
{
  border: 2px outset;
  background-color: white;

}

.gwtThesis-DialogBox.Caption
{
  background-color: #3366CC;
  font-weight: bold;
} 

.dlgGetName
{
  border-color: black;
  border-style: solid;
  border: 2px outset;
  background-color: #3366CC;
}

.dlgGetNameLabel
{
  background-color: #3366CC;
  font-weight: bold;
}

.spotBox
{
  font-size: 8px;
  background-color: #3366CC;
}

.spotHoverBox
{
  font-size: x-small;
  background-color: gray;
}

.gwt-Button
{
  /*background-color: #ffffff;*/
  /*border-color: #ffffff;*/
}

.gridAvail
{
  background-color: green;
}

.gridUnAvail
{
  background-color: red;
}

.gwtThesis-tableTitle
{
  text-align: center;
  background-color: #B9CAEC;
  border-style: solid;
  border-top-width: thin;
  border-bottom-width: 0px;
  border-left-width: thin;
  border-right-width: thin;
  border-color: black;
}

.gwtThesis-tableTitleNoTop
{
  text-align: center;
  background-color: #B9CAEC;
  border-style: solid;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: thin;
  border-right-width: thin;
  border-color: black;
}

.gwtThesis-tableBody
{
  background-color: #B9CAEC;
  border-style: solid; 
  border-width: thin;
  border-color: black;
}

.gwtThesis-gridContainer
{
  border-style: none; 
}

.gwtThesis-borderedButton
{
  /* background-color: #bebebe; */
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: black;
}

.gwtThesis-borderedDropDown
{
  background-color: #bebebe;
  border-sytle: solid;
  border-width: 1px;
  border-color: black;
}

.gwtThesis-borderedImage
{
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.gwtThesis-borderedPanel
{
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.gwtThesis-borderedLabel
{
  background-color: #B9CAEC;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.gwtThesis-greyBackground
{
  background-color: #bebebe;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.gwtThesis-AvailablePanel
{
  background-color: green;
  border-style: solid;
  border-color: black;
}

.gwtThesis-UnavailablePanel
{
  background-color: red;
  border-style: solid;
  border-color: black;
}

.gwtThesis-calendarPicker
{
  background-color: #B9CAEC;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}